{# @var collector \WebProfiler\DataCollectors\PdoDataCollector #}

<div class="toolbar__block">
    <i class="fa-solid fa-database"></i>
    <span class="badge bg-secondary">{{ collector.count }}</span>
</div>
